{% extends 'customer\layouts\base.html' %}
{% load static %}
{% block title %}Profile{% endblock title %}

{% block content %}
    
    <!-- Page wrapper for sticky footer -->
    <!-- Wraps everything except footer to push footer to the bottom of the page if there is little content -->
    <main class="page-wrapper">

        <!-- START Navbar -->
        {% include 'customer\layouts\navbar.html' %}
        <!-- END Navbar -->

        <!-- Breadcrumb -->
        <nav class="bg-secondary mb-3" aria-label="breadcrumb">
            <div class="container">
            <ol class="breadcrumb breadcrumb-alt mb-0">
                <li class="breadcrumb-item">
                <a href="index.html"><i class="ci-home"></i></a>
                </li>
                <li class="breadcrumb-item">
                <a href="{% url 'customer_profile' %}">My Profile</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Change Password</li>
            </ol>
            </div>
        </nav>

        <!-- Page container -->
        <section class="container pt-3 pt-lg-4 pb-5 pb-lg-6">
        <div class="row pb-2 pb-lg-0">

            
            <!-- Content -->
            <div class="col-lg-10 mx-auto">
                <div class="card shadow-lg d-flex p-5 ">
                    

                    <h2 class="card-title mb-5 mx-auto">Change Password</h2>


                    <div class="card-body" >    
                        <form>
                            <div class="row">
                                <div class="col-sm-12 mb-4">
                                    <label class="form-label-lg" for="pass-visibility">Old Password</label>
                                    <div class="password-toggle">
                                        <input class="form-control form-control-lg" type="password" id="pass-visibility" placeholder="Old Password">
                                        <label class="password-toggle-btn" aria-label="Show/hide password">
                                        <input class="password-toggle-check" type="checkbox">
                                        <span class="password-toggle-indicator"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 mb-4">
                                    <label class="form-label-lg" for="pass-visibility">New Password</label>
                                    <div class="password-toggle">
                                        <input class="form-control form-control-lg" type="password" id="pass-visibility" placeholder="New Password">
                                        <label class="password-toggle-btn" aria-label="Show/hide password">
                                        <input class="password-toggle-check" type="checkbox">
                                        <span class="password-toggle-indicator"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 mb-4">
                                    <label class="form-label-lg" for="pass-visibility">Confirm New Password</label>
                                    <div class="password-toggle">
                                        <input class="form-control form-control-lg" type="password" id="pass-visibility" placeholder="Confirm New Password">
                                        <label class="password-toggle-btn" aria-label="Show/hide password">
                                        <input class="password-toggle-check" type="checkbox">
                                        <span class="password-toggle-indicator"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                                
                            <a href="{% url 'customer_profile' %}" class="btn btn-primary btn-lg">&nbsp;Back&nbsp;</a>
                            <button type="submit" class="btn btn-primary btn-lg mx-5">&nbsp;change&nbsp;</button>
                        </form>
                    </div>
                    
                </div>
            </div>
        </div>
        </section>

    </main>


{% endblock content %}

