{% extends 'customer\layouts\base.html' %}
{% load static %}
{% block title %}Sign in{% endblock title %}
{% block content %}
    
    <!-- Page wrapper for sticky footer -->
    <!-- Wraps everything except footer to push footer to the bottom of the page if there is little content -->
    <main class="page-wrapper">

        <!-- START Navbar -->
        {% include 'customer\layouts\navbar.html' %}
        <!-- END Navbar -->

        <nav class="bg-secondary mb-3" aria-label="breadcrumb">
            <div class="container">
            <ol class="breadcrumb breadcrumb-alt mb-0">
                <li class="breadcrumb-item">
                <a href="{% url 'customer_home' %}"><i class="ci-home"></i></a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Sign in</li>
            </ol>
            </div>
        </nav>


        <!-- Page container -->
        <section class="container pt-3 pt-lg-4 pb-lg-6 h-100">
        <div class="row pb-2 pb-lg-0">

            <div class="col-sm-6" style="background-image: url({% static 'customer\img\ecommerce\signin_img.svg' %}); background-repeat: no-repeat; height:550px;">
            
            </div>
            <!-- Content -->
            <div class="col-lg-6 mx-auto my-auto">
                
                    

                    <h2 class="mb-5 text-center">Sign in</h2>


                       
                        <form action="" method="POST" novalidate>
                            {% csrf_token %}
                            <!-- Username input -->
                            <div class="mb-4">
                            <label for="uname-input" class="form-label-lg">Username</label>
                            {% comment %} <input class="form-control" name="username" type="text" id="uname-input" placeholder="Username"> {% endcomment %}
                            {{form.username}}
                            {% if form.username.errors %}
                                <span class="fs-sm text-danger">{{form.username.errors|striptags}}</span>
                            {% endif %}
                            </div>

                            <!-- Password Input -->
                            <div class="mb-5">
                                <label for="pass-input" class="form-label-lg">Password</label>
                                <div class="password-toggle">
                                    {% comment %} <input class="form-control" name="password" type="password" id="pass-input" placeholder="Password"> {% endcomment %}
                                    {{form.password}}
                                    <label class="password-toggle-btn" aria-label="Show/hide password">
                                        <input class="password-toggle-check" type="checkbox">
                                        <span class="password-toggle-indicator"></span>
                                    </label>
                                </div>
                                {% if form.password.errors %}
                                <span class="fs-sm text-danger">{{form.password.errors|striptags}}</span>
                            {% endif %}
                            </div>

                            <div class="mb-4" style="text-align: center;">    
                                <button type="submit" class="btn btn-primary w-100">Sign in</button>
                            </div>
                            
                        </form>
                                

                        <p class="fs-md pt-4 mb-0" style="text-align: center;">
                            Don't have an account?
                            <a href="{% url 'signup_page' %}" class="fw-bold text-decoration-none">Sign up</a>
                        </p>
                    
            </div>
        </div>
        </section>


</main>


{% endblock content %}
