<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<title>{% block title %}{% endblock title %}</title>

	<link rel="shortcut icon" href="{% static 'seller\img\favicon.ico' %}">

	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&amp;display=swap" rel="stylesheet">

	<!-- Choose your prefered color scheme -->
	<link href="{% static 'seller\css\light.css' %}" rel="stylesheet">
	<!-- <link href="css/dark.css" rel="stylesheet"> -->

    <script>
        (function(h,o,t,j,a,r){
            h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
            h._hjSettings={hjid:2120269,hjsv:6};
            a=o.getElementsByTagName('head')[0];
            r=o.createElement('script');r.async=1;
            r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
            a.appendChild(r);
        })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
    </script><script async src="https://www.googletagmanager.com/gtag/js?id=G-Q3ZYEKLQ68"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-Q3ZYEKLQ68');
    </script>
    {% block links %}{% endblock links %}
</head>

<body data-theme="default" data-layout="fluid" data-sidebar-position="left" data-sidebar-behavior="sticky">
	<div class="wrapper">
		
		<!-- START Sidebar -->
			{% include 'seller\layouts\sidebar.html' %}
		<!-- END Sidebar -->

		<div class="main">
			
			<!-- START Navbar -->
				{% include 'seller\layouts\navbar.html' %}
			<!-- END Navbar -->

			<!-- START Main Content -->
				{% block content %}	{% endblock content %}
			<!-- END Main Content-->


			<!-- START Footer -->
				{% include 'seller\layouts\footer.html' %}
			<!-- END Footer -->
		</div>
	</div>

	<!-- START Scripts -->
		{% include 'seller\layouts\scripts.html' %}
	<!-- END Scripts -->
	{% block scripts %}{% endblock scripts %}

</body>

</html>