{% extends 'admin\layouts\base.html' %}
{% load static %}
{% block title %}Change Password{% endblock title %}
{% block content %}
<main class="content">
    <div class="container-fluid p-0">

        <div class="row">
                <div class="col-sm-12">
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-{{message.tags}} alert-dismissible" role="alert">
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                <div class="alert-message">
                                    <strong>{{message}}</strong>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>

        <h1 class="h3 mb-3">Change Password</h1>

        <div class="row mt-2">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title mb-0">Change Password</h5>
                    </div>
                    <div class="card-body">
                        <form action="" method="POST" enctype="multipart/form-data" novalidate>
                            {% csrf_token %}

                            <div class="row">
                                {% for fm in form %}
                                    <div class="mb-3">
                                        <label class="form-label">{{fm.label}}</label>
                                        {{fm}}
                                        {% if fm.errors %}
                                            <label class="small text-danger">{{fm.errors|striptags}}</label>
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            </div>

                            
                            <a href="{% url 'admin_profile' %}" class="btn btn-primary">Back</a>
                            <button type="submit" class="btn btn-primary mx-3">Change Password</button>
                        </form>

                    </div>
                </div>

            </div>
        </div>
    
    </div>
</main>
{% endblock content %}
{% block scripts %}
    <script>
        function showPreview(event){
        if(event.target.files.length > 0) {
            var src = URL.createObjectURL(event.target.files[0]);
            var preview = document.getElementById('file-ip-preview');
            preview.src = src;
        }
        }
  </script>
{% endblock scripts %}